/* Шрифты */

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Global */

:root {
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;

  --basic-dark: #444444;
  --basic-grey: #DCDCDC;
  --basic-grey-light: #EBEBEB;
  --basic-light: #F0F0F0;

  --basic-white: #FFFFFF;
  --basic-white-rgb: 255, 255, 255;

  --special-yellow-dark: #FFC700;
  --special-yellow-light: #FFE17F;
  --special-purple: #AF4FFF;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  min-width: 1180px;
}

/* Pages */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.one-half-box {
  width: 560px;
}

.index-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Header */

.page-header {
  color: var(--basic-black);
  background: var(--special-yellow-light);
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 38px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1040px;
  margin: 0 auto;
}

.navigation-up-line {
  display: flex;
  flex-direction: row;
}

.search-form {
  margin-right: auto;
}

.navigation-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.goods-number {
  font-size: 14px;
  line-height: 17px;
}

.navigation-list-shop {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navigation-item-catalog {
  margin-right: auto;
}

.navigation-item-delivery {
  margin-left: auto;
  margin-right: 35px;
}

.navigation-item-warranty {
  margin-right: 96px;
}

.big-navigation-link {
  font-family: "Raleway", serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.catalog-categories-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  height: 90px;
}

.catalog-categories-item {
  width: 201px;
  padding-right: 38px;
}

.catalog-categories-item-smart-watches {
  flex-basis: 66%;
  padding-right: 0;
}

.catalog-categories-item-fitness-bands {
  padding-right: 0;
}

.catalog-categories-link {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

/* Слайдер */


.slider-list {
  margin: 0;
  padding: 0;
  box-shadow: inset 0 146px var(--special-yellow-light);
}

.slider-item-number {
  font-weight: 800;
  font-size: 180px;
  line-height: 135px;
  color: var(--basic-white);
  background-color: var(--special-yellow-light);
  margin-right: 49px;
  margin-left: auto;
  text-align: right;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
  text-align: left;
}

.main-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
}

.slider-item-specifications-list {
  display: flex;
  flex-direction: row;
}

.specifications-container {
  display: flex;
  flex-direction: column-reverse;
  width: 160px;
}

.slider-item-specifications-term {
  font-size: 16px;
}

.slider-item-specifications-description {
  font-size: 36px;
  line-height: 30px;
  color: var(--basic-black);
  margin: 0;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--basic-black);
  text-align: left;
  text-decoration: none;
}

/* Категории. */

.categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.categories-items {
  width: 160px;
}

.categories-link::before {
  content: "";
  display: block;
  background: var(--special-yellow-light);
  width: 160px;
  height: 160px;
  border: none;
}

.category-1-VR::before {
  background-image: url(../img/categories-01-VR.svg);
}

.category-2-selfie-sticks::before {
  background-image: url(../img/categories-02-selfie-sticks.svg);
}

.category-3-action-cameras::before {
  background-image: url(../img/categories-03-action-cameras.svg);
}

.category-4-fitness-bands::before {
  background-image: url(../img/categories-04-fitness-bands.svg);
}

.category-5-smart-watches::before {
  background-image: url(../img/categories-05-smart-watches.svg);
}

.category-6-drones::before {
  background-image: url(../img/categories-06-drones.svg);
}

.categories-link:hover:before {
  background: var(--special-yellow-dark);
}

.category-1-VR:hover:before {
  background-image: url(../img/categories-01-VR.svg);
}

.category-2-selfie-sticks:hover:before {
  background-image: url(../img/categories-02-selfie-sticks.svg);
}

.category-3-action-cameras:hover:before {
  background-image: url(../img/categories-03-action-cameras.svg);
}

.category-4-fitness-bands:hover:before {
  background-image: url(../img/categories-04-fitness-bands.svg);
}

.category-5-smart-watches:hover:before {
  background-image: url(../img/categories-05-smart-watches.svg);
}

.category-6-drones:hover:before {
  background-image: url(../img/categories-06-drones.svg);
}

.categories-link:focus:before {
  background: var(--special-yellow-light);
  border: 5px solid var(--special-purple);
  margin: 0;
}

.category-1-VR:focus:before {
  background-image: url(../img/categories-01-VR.svg);
}

.category-2-selfie-sticks:focus:before {
  background-image: url(../img/categories-02-selfie-sticks.svg);
}

.category-3-action-cameras:focus:before {
  background-image: url(../img/categories-03-action-cameras.svg);
}

.category-4-fitness-bands:focus:before {
  background-image: url(../img/categories-04-fitness-bands.svg);
}

.category-5-smart-watches:focus:before {
  background-image: url(../img/categories-05-smart-watches.svg);
}

.category-6-drones:focus:before {
  background-image: url(../img/categories-06-drones.svg);
}

.categories-link:active:before {
  background: var(--special-yellow-dark);
  border: none;
  margin: 5px;
}

.category-1-VR:active:before {
  background-image: url(../img/categories-01-VR-active.svg);
}

.category-2-selfie-sticks:active:before {
  background-image: url(../img/categories-02-selfie-sticks-active.svg);
}

.category-3-action-cameras:active:before {
  background-image: url(../img/categories-03-action-cameras-active.svg);
}

.category-4-fitness-bands:active:before {
  background-image: url(../img/categories-04-fitness-bands-active.svg);
}

.category-5-smart-watches:active:before {
  background-image: url(../img/categories-05-smart-watches-active.svg);
}

.category-6-drones:active:before {
  background-image: url(../img/categories-06-drones-active.svg);
}

/* Услуги */

.services-subscription-grey-background {
  background-color: var(--basic-light);
}

.tabs-container {
  display: flex;
  flex-direction: row;
}

.services-navigation-tabs {
  margin: 0;
  padding: 0;
  width: 277px;
  border-right: 7px solid var(--basic-black);
  list-style-type: none;
}

.services-navigation-item {
  width: 160px;
  padding: 9px 0 10px 0;
  text-align: center;
}

.tabs-button-current {
  color: var(--special-yellow-light);
  background-color: var(--basic-black);
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  display: flex;
  flex-direction: row;
  padding-left: 116px;
}

.services-text {
  width: 534px;
}

.services-item-1-delivery::after {
  content: "";
  display: block;
  background-image: url(../img/tabs-1-delivery.svg);
  width: 180px;
  height: 319px;
}

.services-item-2-warranty::after {
  content: "";
  display: block;
  background-image: url(../img/tabs-2-warranty.svg);
  width: 180px;
  height: 319px;
}

.services-item-3-credit::after {
  content: "";
  display: block;
  background-image: url(../img/tabs-3-credit.svg);
  width: 180px;
  height: 319px;
}

.services-rare-items-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-light);
  text-decoration: none;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 40px;
  width: 910px;
}

.services-rare-items {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  margin-bottom: 97px;
}

/* О нас */

.delivery-companies {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.contacts-address {
  font-style: normal;
}

.sub-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-phone {
  color: var(--basic-dark);
}

/* Подписка на рассылку */

.subscription-container {
  display: flex;
  flex-direction: row;
}

.subscribe-button {
  border: 3px solid rgba(var(--basic-black-rgb), 0.1);
  padding: 16px 42px 16px 42px;
}

.newsletter-form {
  margin-right: auto;
}

/* Футер */

.page-footer {
  color: var(--basic-white);
  background: var(--basic-dark);
  font-size: 16px;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-address {
  line-height: 19px;
}

.footer-lists {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-button {
  color: var(--basic-white);
}

.footer-social-list {
  width: 149px;
}

.footer-links-item {
  width: 148px;
  text-align: center;
}

.footer-column-container-1 {
  width: 240px;
  text-align: left;
}

.footer-column-container-2 {
  width: 458px;
}

.footer-column-container-3 {
  width: 240px;
  text-align: right;
}

/* Соц сети */

.social-media-links::before {
  content: "";
  display: flex;
  background: rgba(var(--basic-white-rgb), 0.3);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  margin: 5px;
}

.facebook::before {
  background-image: url(../img/facebook.svg);
}

.instagram::before {
  background-image: url(../img/instagram.svg);
}

.twitter::before {
  background-image: url(../img/twitter.svg);
}

.social-media-links:hover:before {
  background: var(--special-yellow-dark);
}

.facebook:hover:before {
  background-image: url(../img/facebook.svg);
}

.instagram:hover:before {
  background-image: url(../img/instagram.svg);
}

.twitter:hover:before {
  background-image: url(../img/twitter.svg);
}

.social-media-links:focus:before {
  background: none;
  border: 5px solid var(--special-purple);
  margin: 5px;
}

.facebook:focus:before {
  background-image: url(../img/facebook-focus.svg);
}

.instagram:focus:before {
  background-image: url(../img/instagram-focus.svg);
}

.twitter:focus:before {
  background-image: url(../img/twitter-focus.svg);
}

.social-media-links:active:before {
  background: var(--special-yellow-dark);
  border: none;
  margin: 5px;
}

.facebook:active:before {
  background-image: url(../img/facebook-active.svg);
}

.instagram:active:before {
  background-image: url(../img/instagram-active.svg);
}

.twitter:active:before {
  background-image: url(../img/twitter-active.svg);
}

.footer-contacts-phone {
  color: var(--basic-white);
  text-decoration: none;
}

/* Логотип Академии */

.academy-logo {
  fill: var(--special-yellow-dark);
  border: none;
  padding: 10px;
}

.academy-logo:hover {
  fill: var(--basic-white);
}

.logo-link:focus .academy-logo {
  border: 2px solid var(--special-purple);
  border-radius: 10px;
  padding: 8px;
}

.logo-link:active .academy-logo {
  fill: var(--basic-white);
  opacity: 0.3;
  border: none;
  padding: 10px;
}

/* Страница каталога */

.navigation-sign-out {
  opacity: 0.3;
}

.main-catalog {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-black);
}

.catalog-header {
  width: 1040px;
  padding-top: 37px;
  padding-bottom: 49px;
  margin: 0 auto;
}

.catalog-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-black);
  margin: 0 0 24px 0;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.breadcrumbs-link {
  opacity: 0.6;
  text-decoration: none;
  color: var(--basic-black);
}

.catalog-container {
  display: flex;
  flex-direction: row;
}

.left-side-background {
  background-color: var(--basic-grey-light);
  flex-grow: 1;
}

.left-side-title-background {
  height: 70px;
  background-color: var(--basic-grey);
}

.right-side-background {
  height: 70px;
  background-color: var(--basic-grey-light);
  flex-grow: 1;
}

.catalog-filter {
  width: 328px;
  background-color: var(--basic-grey-light);
}

.catalog-title {
  width: 200px;
  text-align: left;
  margin: 0;
  padding: 25px 68px 24px 60px;
}

.catalog-filter-title-container {
  background-color: var(--basic-grey);
}

.catalog-filter-form {
  background-color: var(--basic-grey-light);
  padding-left: 60px;
  padding-right: 69px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
  text-align: center;
}

.catalog-right-part-container {
  width: 832px;
}

.catalog-sorting {
  background-color: var(--basic-grey-light);
  display: flex;
  flex-direction: row;
  padding-left: 12px;
}

.catalog-sorting-criterions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.catalog-sorting-criterions-link {
  color: inherit;
  text-decoration: none;
}

.catalog-sorting-ways-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.catalog-products {
  padding: 69px 0 77px 72px;
}

.product-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-card {
  width: 360px;
}

.product-card-title-link {
  color: inherit;
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: var(--basic-dark);
}

.product-badge {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.6;
}

.show-more-button {
  border: 3px solid rgba(var(--basic-black-rgb), 0.1);
  background-color: var(--basic-white);
  padding: 14px 0;
  margin: 46px 0 51px 0;
  width: 100%;
}

.pagination {
  background-color: var(--basic-grey-light);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0 30px;

}

.pagination-item {
  padding: 0;
  margin: 0;
}

.pagination-link {
  text-align: center;
  color: var(--basic-dark);
  opacity: 0.3;
  text-decoration: none;
}










