/* Категории */

.categories-link::before {
  content: "";
  display: inline-block;
  background: #FFE17F;
  width: 160px;
  height: 160px;
  margin: 5px;
  border: none;
}

.category-1-VR::before {
  background-image: url(../img/categories-01-VR.svg);
}

.category-2-selfie-sticks::before {
  background-image: url(../img/categories-02-selfie-sticks.svg);
}

.category-3-action-cameras::before {
  background-image: url(../img/categories-03-action-cameras.svg);
}

.category-4-fitness-bands::before {
  background-image: url(../img/categories-04-fitness-bands.svg);
}

.category-5-smart-watches::before {
  background-image: url(../img/categories-05-smart-watches.svg);
}

.category-6-drones::before {
  background-image: url(../img/categories-06-drones.svg);
}

.categories-link:hover:before {
  background: #FFC700;
}

.category-1-VR:hover:before {
  background-image: url(../img/categories-01-VR.svg);
}

.category-2-selfie-sticks:hover:before {
  background-image: url(../img/categories-02-selfie-sticks.svg);
}

.category-3-action-cameras:hover:before {
  background-image: url(../img/categories-03-action-cameras.svg);
}

.category-4-fitness-bands:hover:before {
  background-image: url(../img/categories-04-fitness-bands.svg);
}

.category-5-smart-watches:hover:before {
  background-image: url(../img/categories-05-smart-watches.svg);
}

.category-6-drones:hover:before {
  background-image: url(../img/categories-06-drones.svg);
}

.categories-link:focus:before {
  background: #FFE17F;
  border: 5px solid #AF4FFF;
  margin: 0;
}

.category-1-VR:focus:before {
  background-image: url(../img/categories-01-VR.svg);
}

.category-2-selfie-sticks:focus:before {
  background-image: url(../img/categories-02-selfie-sticks.svg);
}

.category-3-action-cameras:focus:before {
  background-image: url(../img/categories-03-action-cameras.svg);
}

.category-4-fitness-bands:focus:before {
  background-image: url(../img/categories-04-fitness-bands.svg);
}

.category-5-smart-watches:focus:before {
  background-image: url(../img/categories-05-smart-watches.svg);
}

.category-6-drones:focus:before {
  background-image: url(../img/categories-06-drones.svg);
}

.categories-link:active:before {
  background: #FFC700;
  border: none;
  margin: 5px;
}

.category-1-VR:active:before {
  background-image: url(../img/categories-01-VR-active.svg);
}

.category-2-selfie-sticks:active:before {
  background-image: url(../img/categories-02-selfie-sticks-active.svg);
}

.category-3-action-cameras:active:before {
  background-image: url(../img/categories-03-action-cameras-active.svg);
}

.category-4-fitness-bands:active:before {
  background-image: url(../img/categories-04-fitness-bands-active.svg);
}

.category-5-smart-watches:active:before {
  background-image: url(../img/categories-05-smart-watches-active.svg);
}

.category-6-drones:active:before {
  background-image: url(../img/categories-06-drones-active.svg);
}

/* Табы */

.services-item-1-delivery::after {
  content: "";
  display: inline-block;
  background-image: url(../img/tabs-1-delivery.svg);
  width: 180px;
  height: 319px;
}

.services-item-2-warranty::after {
  content: "";
  display: inline-block;
  background-image: url(../img/tabs-2-warranty.svg);
  width: 180px;
  height: 319px;
}

.services-item-3-credit::after {
  content: "";
  display: inline-block;
  background-image: url(../img/tabs-3-credit.svg);
  width: 180px;
  height: 319px;
}

.page-footer {
  background: #444444;
}

/* Соц сети */

.social-media-links::before {
  content: "";
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  margin: 15px;
}

.facebook::before {
  background-image: url(../img/facebook.svg);
}

.instagram::before {
  background-image: url(../img/instagram.svg);
}

.twitter::before {
  background-image: url(../img/twitter.svg);
}


.social-media-links:hover:before {
  background: #FFC700;
}

.facebook:hover:before {
  background-image: url(../img/facebook.svg);
}

.instagram:hover:before {
  background-image: url(../img/instagram.svg);
}

.twitter:hover:before {
  background-image: url(../img/twitter.svg);
}


.social-media-links:focus:before {
  background: none;
  border: 5px solid #AF4FFF;
  margin: 10px;
}

.facebook:focus:before {
  background-image: url(../img/facebook-focus.svg);
}

.instagram:focus:before {
  background-image: url(../img/instagram-focus.svg);
}

.twitter:focus:before {
  background-image: url(../img/twitter-focus.svg);
}


.social-media-links:active:before {
  background: #FFC700;
  border: none;
  margin: 15px;
}

.facebook:active:before {
  background-image: url(../img/facebook-active.svg);
}

.instagram:active:before {
  background-image: url(../img/instagram-active.svg);
}

.twitter:active:before {
  background-image: url(../img/twitter-active.svg);
}

/* Логотип Академии */

.academy-logo {
  fill: #FFC700;
  border: none;
  padding: 10px;
}

.academy-logo:hover {
  fill: #FFFFFF;
}

.logo-link:focus .academy-logo {
  border: 2px solid #AF4FFF;
  border-radius: 10px;
  padding: 8px;
}

.logo-link:active .academy-logo {
  fill: #FFFFFF;
  opacity: 0.3;
  border: none;
  padding: 10px;
}







